BOT_TOKEN=
DATABASE_URL=sqlite+aiosqlite:///./anime_bot.db
ADMIN_IDS=8404514882
OWNER_ID=8404514882
CHANNEL_ID=
LOG_CHANNEL_ID=
REDIS_URL=
PAGINATION_SIZE=10
DESCRIPTION_TEMPLATE=🎬 {anime_name}\n📺 {episode}-qism
LOG_LEVEL=INFO
